.introsection{
    background-color: white;
}
#intro{
    display: flex;
    .left{
       flex: 0.5;
       overflow: hidden;
       @media only screen and (max-width: 425px){
        flex:0.9;
      }
       .imgcontainer{
         width: 700px;
         height: 700px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         background-color: crimson;
         float: left;
         .imgcontainer img{
            height:70%;
         }
         @media only screen and (max-width: 424px){
            width: 350px;
            height: 450px;
         }
       }
    }
    @media only screen and (max-width: 424px){
       flex-direction: column;
       align-items: center;
    }
    .right{
        /* background-color: yellow; */
        flex:0.5;
        display: flex;
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 424px){
            justify-content: center;
               align-items: center;
             }
        }
        .wrapper h1{
            margin-bottom: 0;
            margin-top: 0;
            font-size: 90px;
            overflow-y: hidden;
            @media only screen and (max-width: 424px){
             font-size: 40px;
             }
        }
        .wrapper h2{
            overflow-y: hidden;
            margin-bottom: 0;
            font-size: 60px;
            @media only screen and (max-width: 424px){
                font-size: 20px;
             }
        }
        .wrapper h3{
            overflow-y: hidden;
            margin-top:0;
            font-size: 40px;
            @media only screen and (max-width: 424px){
               font-size: 20px;;
            }
           
        }
        .wrapper h3 span{
            color: crimson;
            font-size: 40px;
            @media only screen and (max-width: 424px){
                font-size: 20px;
             }
        }
    }
}